@tailwind base;
@tailwind components;
@tailwind utilities;

.cshadow {
  box-shadow: 5px 5px 0px hsl(0, 0%, 0%);
  transition: all 400ms ease-in;
}

.cshadow:hover {
  box-shadow: 8px 8px 0px hsl(0, 0%, 7%);
}
